body {
    margin: 0;
    padding: 0;
    background-color: rgb(63, 72, 72);
    color:rgb(219, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game {
    display: flex;
    background-color: rgb(29, 33, 33);
}

.card {
    width: 160px;
    height: 120px;
    background-color: rgb(83, 53, 122);
    border-left: solid rgb(59, 40, 167) 10px;
    border-right: solid rgb(16, 5, 73) 10px;
    border-top: solid rgb(47, 24, 176) 10px;
    border-bottom: solid rgb(25, 14, 91) 10px;
    text-align: center;
    font-size: 100px;
    margin: 5px;
    padding: 10px;
    line-height: 120px;
}